= simple_form_for [:user, expense] do |f|
  =f.input :name
  =f.input :price_value
  =f.input :currency_id, as: :select, collection: currencies_to_select, include_blank: false
  =f.input :shop_id, as: :select, collection: shops_to_select, include_blank: false
  =f.input :description
  =f.input :expenses_group_id, as: :select, collection: expenses_groups_to_select, include_blank: false
  =f.submit
