!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Welcome
      =@user.email

    %p Your weekly expenses:
    %b=@user.total_price_for_week(@date)

    %p
    =@user.compare_expenses_to_last_week(@date)
