!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Welcome
      =@user.email

    %p Your expenses from last week:
    =@user.total_price_for_week(Date.today)
